work/
test_results/
results/
.nextflow
test/mini_ecoli/reads/*
test/mini_ecoli/ref/*
test_results_ecoli
test_results_mini_ecoli
.apptainer

# Nextflow runtime files
.nextflow*
*.nextflow.log*

# Common Nextflow outputs/reports
trace.txt
timeline.html
report.html
dag.html
dag.png
dag.svg