/*
========================================================================================
    Process-specific resource configuration
========================================================================================
*/

process {

    // Default settings for all processes
    cpus   = 2
    memory = '8.GB'
    time   = '4.h'

    withName: 'FASTQC' {
        cpus   = 4
        memory = '8.GB'
        time   = '2.h'
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    }

    withName: 'FASTP' {
        cpus   = 8
        memory = '16.GB'
        time   = '4.h'
        container = 'quay.io/biocontainers/fastp:0.24.3--heae3180_0'
    }

    withName: 'MULTIQC' {
        cpus   = 2
        memory = '4.GB'
        time   = '2.h'
        container = 'quay.io/biocontainers/multiqc:1.32--pyhdfd78af_2'
    }

    withName: 'BWA_MEM' {
        cpus   = 16
        memory = '32.GB'
        time   = '24.h'
        container = null
    }

    withName: 'SAMBAMBA_MARKDUP' {
        cpus   = 8
        memory = '16.GB'
        time   = '6.h'
        container = 'quay.io/biocontainers/sambamba:1.0.1--he614052_4'
    }

    withName: 'FREEBAYES' {
        cpus   = 14
        memory = '32.GB'
        time   = '24.h'
        container = 'quay.io/biocontainers/freebayes:1.3.10--hbefcdb2_0'
    }

}
