/*
========================================================================================
    Process-specific resource configuration
========================================================================================
*/

process {

    // Default settings for all processes
    cpus   = 2
    memory = '8.GB'
    time   = '4.h'

    withName: 'FASTQC' {
        cpus   = 4
        memory = '8.GB'
        time   = '2.h'
        container = 'biocontainers/fastqc:v0.11.9_cv8'
    }

    withName: 'FASTP' {
        cpus   = 8
        memory = '16.GB'
        time   = '4.h'
        container = 'biocontainers/fastp:v0.20.1_cv1'
    }

    withName: 'MULTIQC' {
        cpus   = 2
        memory = '4.GB'
        time   = '2.h'
        container = 'biocontainers/multiqc:v1.17--pyhdfd78af_0'
    }

    withName: 'BWA_MEM' {
        cpus   = 16
        memory = '32.GB'
        time   = '24.h'
        container = 'biocontainers/bwa-mem2:2.2.1_cv1'
    }

    withName: 'SAMTOOLS_SORT' {
        cpus   = 8
        memory = '16.GB'
        time   = '4.h'
        container = 'biocontainers/samtools:1.17'
    }

    withName: 'FREEBAYES' {
        cpus   = 8
        memory = '16.GB'
        time   = '8.h'
        container = 'biocontainers/freebayes:v1.3.6--h6a68c12_3'
    }

}
